<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>80% das infecções são transmitidas por pouca higiene das mãos.</string>
	<key>2</key>
	<string>Você possui entre 2 e 10 milhões de bactérias entre a ponta dos seus dedos e seu cotovelo.</string>
	<key>3</key>
	<string>Bactérias se escondem debaixo de relógios e braceletes. É possível ter tantos germes embaixo do seu anel quanto pessoas na Europa.</string>
	<key>4</key>
	<string>Bactérias podem permanecer vivas em suas mãos por até 3 horas.</string>
	<key>5</key>
	<string>Uma bactéria pode se multiplicar para até 4 milhões em 8 horas.</string>
	<key>6</key>
	<string>Mãos úmidas podem espalhar 1000 vezes mais bactérias do que mãos secas.</string>
	<key>7</key>
	<string>Uma mão pode carregar pelo menos 3 mil tipos diferentes de bactérias.</string>
	<key>8</key>
	<string>Numa nota de dinheiro, pode-se encontrar cerca de 26 mil bactérias vivas.</string>
	<key>9</key>
	<string>Em 1847, o Dr. Ignaz Semmelweis provou que lavar as mãos reduzia a mortalidade por febre puerperal.</string>
	<key>10</key>
	<string>Infecções adquiridas em hospitais são a causa de 100 mil mortes nos Estados Unidos por ano.</string>
	<key>11</key>
	<string>Especialistas em higiene afirmam que o tempo utilizado para lavar as mãos deve ser equivalente a cantar “Parabéns para você” duas vezes.</string>
	<key>12</key>
	<string>No Hawaii, Hiuwai é um ritual onde lavar as mãos faz parte da purificação em passagens espirituais, como o casamento.</string>
	<key>13</key>
	<string>Netilat Yadayim é um ritual espiritual judáico de lavar as mãos.</string>
	<key>14</key>
	<string>Temizu é um ritual de purificação simbólico japonês que consiste em lavar as mãos e a boca, significando limpeza da alma e da mente.</string>
	<key>15</key>
	<string>Germes podem viver por até 2 dias em certas superfícies.</string>
	<key>16</key>
	<string>Um celular pode transportar mais de 30 mil bactérias a cada passada de cotonete.</string>
	<key>17</key>
	<string>85% dos microorganismos são transmitidos por mãos úmidas.</string>
	<key>18</key>
	<string>O dia mundial de lavagem das mãos é 15 de Outubro.</string>
	<key>19</key>
	<string>Uma pesquisa em 2013 descobriu que apenas 5% das pessoas lava as mãos corretamente. </string>
	<key>20</key>
	<string>Pesquisadores em Londres estimam que se todos lavassem aos mãos como parte da rotina, 1 milhão de mortes por ano seriam evitadas.</string>
	<key>21</key>
	<string>Lembretes em forma de placas aumentam a frequência e a duração da lavagem das mãos. </string>
	<key>22</key>
	<string>A OMS diz que é possível reduzir em até 40% a incidência de infecções e doenças como diarreia, resfriados e conjuntivite com o simples ato de lavar as mãos.</string>
	<key>23</key>
	<string>Uma pesquisa realizada pela ANVISA mostrou que somente 1/3 dos hospitais do Brasil têm uma adesão à higiene acima de 70%. A maneira mais eficaz e barata de reduzir infecções hospitalares é a higienização frequente das mãos.</string>
</dict>
</plist>
