<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>O ideal é usar sabão líquido, de preferência antibacteriano. Estes são os melhores para eliminar os vírus e as bactérias transmissoras de doenças.</string>
	<key>2</key>
	<string>Se o banheiro é público, use uma toalha de papel para secar a torneira, não o faça com as suas mãos limpas.
</string>
	<key>3</key>
	<string>É preciso espalhar o sabão líquido desde as pontas dos dedos até os pulsos.
</string>
	<key>4</key>
	<string>Álcool gel não é eficiente caso as mãos estiverem visivelmente sujas.</string>
	<key>5</key>
	<string>Se você for utilizar álcool gel, faça questão de que o produto tenha pelo menos 60% de álcool.</string>
	<key>6</key>
	<string>No caso de álcool gel, coloque uma quantidade semelhante a uma colher de chá, e passe em toda a mão, inclusive entre os dedos.</string>
	<key>7</key>
	<string>Tosse e espirre em um lenço de papel ou no seu cotovelo, em vez das suas mãos.</string>
	<key>8</key>
	<string>Se usar toalha para secar as mãos, a pendure esticada depois de usar e a lave regularmente.</string>
	<key>9</key>
	<string>De acordo com a OMS, o processo inteiro de lavar as mãos deve durar de 40 a 60 segundos.</string>
	<key>10</key>
	<string>A temperatura da água não tem significado importante na redução de bactérias, em condições normais.</string>
	<key>11</key>
	<string>No caso de secador de mãos, deixar suas mãos paradas em vez de esfregá-las remove mais bactérias.</string>
	<key>12</key>
	<string>Não é recomendado lavar as mãos sempre com sabonete antibacteriano.</string>
	<key>13</key>
	<string>Se você não tiver como lavar as mãos, procure não passá-las perto dos olhos e nem coçar o nariz ou tocar na sua boca.</string>
</dict>
</plist>
