<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Molhe as mãos com água.</string>
	<key>2</key>
	<string>Aplique sabão suficiente para cobrir todas as superfícies da mão.</string>
	<key>3</key>
	<string>Ensaboe as palmas das mãos, friccionando-as entre si.</string>
	<key>4</key>
	<string>Esfregue a palma da mão direita contra o dorso da esquerda entrelaçando os dedos  e vice-versa.</string>
	<key>5</key>
	<string>Entrelace os dedos e friccione os espaços entre os dedos.</string>
	<key>6</key>
	<string>Esfregue o dorso dos dedos de uma mão com a palma da mão oposta.</string>
	<key>7</key>
	<string>Esfregue o polegar esquerdo com o auxílio da palma da mão direita em movimento circular  e vice-versa.</string>
	<key>8</key>
	<string>Friccione as pontas dos dedos e unhas da mão direita conta a palma da mão esquerda e vice-versa.</string>
	<key>9</key>
	<string>Enxague bem as mãos com água.</string>
	<key>10</key>
	<string>Seque as mãos com papel toalha descartável.</string>
	<key>11</key>
	<string>Utilize o papel toalha para fechar a torneira caso seja manual.</string>
	<key>12</key>
	<string>Agora suas mãos estão seguras.</string>
</dict>
</plist>
